@tailwind base;
@tailwind components;
@tailwind utilities;

$prim-font:'Montserrat', sans-serif;
$sec-font:'Cormorant', serif;
$sec-font:'Cormorant', serif;
$prim-color: #222222;
$sec-color: #1767fb;
$bg-color: #ffffff;


.custom-border{
  border: 2px linear-gradient(#1767fb9b,rgba(114,69,240,0));
}

.simplebar-placeholder{
  display: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #3f3f3f;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #3f3f3f inset;
  box-shadow: 0 0 0px 1000px #3f3f3f inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

.border-b[data-state="closed"] {
  @apply border-input border-b-2
}

.border-b[data-state="open"] {
  @apply border-blue-600 border-b-2
}

.blue-glow{
  filter: drop-shadow(0px 6px 14px #3385FF);
}
.bounce{
  animation: globe_bounce 2s ease infinite alternate ;
}


@keyframes globe_bounce {
  0%{
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
  100%{
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

.tw-connect-wallet{
  width: 180px !important;
}

@keyframes jump {  
  25% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(-0.5em);
  }
  
  75% {
    transform: translateY(0);
  }
}

#loader {
  display: inline-flex;
  height: 1rem;
  width: min-content;
  align-items: flex-end;

  span {
    width: 0.5em;
    height: 0.5em;
    background: #1d6ffa;
    border-radius: 50%;
    margin: 0 0.1em;
    animation: jump 1500ms infinite;

    &:nth-child(2){
      animation-delay: 250ms;
    }
    &:nth-child(3){
      animation-delay: 500ms;
    }
  }
}

.toastProgress {
  background: #1767fb !important;
}
.Toastify__toast {
  background-color: transparent;
  @apply shadow-md border border-input bg-[#0e0e10] dark:bg-white text-white dark:text-black
}

.Toastify__toast--error{
  background-color: #ac1632 !important;
  color: white !important;
}

.Toastify__toast-icon{
  display: none !important;
}

.gradient-button {
    background-image: linear-gradient(#1767fb9b,rgba(114,69,240,0));
    background-position: 0px -5px;
    background-repeat: no-repeat;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-inline: 15px;
    height: 40px;
    border-radius: 100vw;
    transition:all ease 0.3s;
    border: 1px solid $sec-color;
    color: #1767fb;
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    align-items: center;

    &:hover {
        background-position: 0px 0px;
    }

   svg {
        aspect-ratio: 1;
        width: 12px;
        padding-top: 2px;
   }
}
@media screen and (max-width: 600px){
    .gradient-button {
        font-size: 14px;
        padding-inline: 12px;
        height: 35px;
    }
}


.page-header {
    padding-block: 50px;

    span {
        overflow: hidden;
    
        h1 {
            font-size: 50px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.04rem;
            text-transform: uppercase;
        }
    }
    .line {
        height: 1px;
        width: 100%;
        background-color: $sec-color;
    }
}
@media screen and (max-width: 600px) {
    .page-header span h1 {
        line-height: 1.5;
        font-size: 30px;
    }
    
}

.modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid $sec-color;
  background-color: white;
  color: #1767fb;
}
.chatbox{
  // height: calc(100vh - 120px);
  height: 80vh;
  padding: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.btn-grad{
  background-image: linear-gradient(#1767fb9b,rgba(114,69,240,0));
  background-position: 0px -5px;
  background-repeat: no-repeat;
  border: 1px solid $sec-color;
  color: #642dfa;

}

.btn-grad-2{
  background-image: linear-gradient(#1767fb9b,rgba(114,69,240,0));
  background-position: 0px -5px;
  background-repeat: no-repeat;
  border-top: 1px solid $sec-color;
  color: #642dfa; 
}




/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden; }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  
  .has-scroll-smooth body {
    overflow: hidden; }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh; }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap; }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%; }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; }
    .c-scrollbar:hover {
      transform: scaleX(1.45); }
    .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
      opacity: 1; }
    [data-scroll-direction="horizontal"] .c-scrollbar {
      width: 100%;
      height: 10px;
      top: auto;
      bottom: 0;
      transform: scaleY(1); }
      [data-scroll-direction="horizontal"] .c-scrollbar:hover {
        transform: scaleY(1.3); }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab; }
    .has-scroll-dragging .c-scrollbar_thumb {
      cursor: -webkit-grabbing;
      cursor: grabbing; }
    [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
      right: auto;
      bottom: 0; }